<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Shigapov326CircusEntities" connectionString="metadata=res://*/Model.CircusDB.csdl|res://*/Model.CircusDB.ssdl|res://*/Model.CircusDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SC7C859\SQLEXPRESS;initial catalog=Shigapov326Circus;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CircusEntities" connectionString="metadata=res://*/Model.CircusDB.csdl|res://*/Model.CircusDB.ssdl|res://*/Model.CircusDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa;initial catalog=Shigapov326;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>